/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Libre Baskerville','Times New Roman', serif;
}

h1{
	padding-bottom: 10px;
	font-size: 5em;
	border-bottom: 1px solid #ccc;
}
h2{
	color: rgb(111, 127, 122);
}
.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */
footer{
	text-align: right;
	background: #fff;
}
.col-1{
	float: left;
	border-style: 1px groove rgb(152,173,166);
}
.small{
	font-size: smaller;
}

[class*="col-"]{
	margin-left: 2px;
}
p{
	line-height: 1.5em;
}
.clearfix:after{
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	line-height: 0;
}
header a{
	color: rgb(152, 173, 166);
	text-decoration: none;
}
header a:hover{
	color: rgb(111, 127, 122);
}
#featured img{
	border: 5px rgb(152, 173, 166) solid;
}

#press img {
	border: 5px #ccc solid;
	transition: border 1s ease-out;
	padding: 1px;
}

#press img:hover {
	border: 5px rgb(111,127,122) solid;
}
#press{
	margin-bottom: 20px;
}
#featured{
	border-bottom: 1px solid #ccc;
}
